# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Do NOT track huge CSV files
data/NYPD_Complaint_2013_2018.csv
data/NYPD_Complaint_2022_2025.csv
data/NYPD_Complaint_Data_Current_(Year_To_Date)_20251029.csv

# Optional: ignore all output visualizations
output/


